@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #140a2e;
}

/* General Styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.max-height {
  @apply max-h-[600px] my-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

*,
*:hover {
  scrollbar-width: auto;
  scrollbar-color: initial;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #4e46e583;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #4e46e5a1;
}

.gradient-text {
  background: linear-gradient(to right, #9333ea, #4f46e5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: fit-content;
}
